.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-side {
  display: flex;
}

.logo {
  font-family: 'Marko One';
  background: rgb(49, 49, 49);
  padding: 10px;
  display: flex;
  align-items: center;
}
.logo a {
  text-decoration: none;
  color: rgb(194, 194, 194);
  padding: 0 10px;
  font-weight: bold;
  font-size: 18px;
}
.slider-container {
  padding: 10px;

  display: flex;
  align-items: center;
  width: 350px;
}
.slider {
  width: 340px;
  margin: 0 10px;
  display: inline-block;
}
.level-container {
  display: flex;
  align-items: center;
  font-family: 'Poppins';
}
.level {
  font-size: 14px;
  padding-left: 4px;
}
.level-label {
}
.right-side {
  margin-right: 1rem;
}
